body {
  margin: 0px;
  font-family: sans-serif;
}

header {
  background-color: rgb(56, 114, 161);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: white;
  height: 100px;
  font-weight: bold;
  box-shadow: darkgray 1px 1px 4px 4px;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

#text-box {
  width: 200px;
}